* {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.filters {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.cards {
  width: 78%;
  display: flex;
  
  flex-wrap: wrap;
}

.card {

  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  
  width: 220px;
  height: 350px;
  
}

.card img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
  background-color: white;
  font-size: 18px;
  color: #5b63a2;
}

.card p,
b {
  background-color: white;
  margin: 5px 0;
  font-size: 14px;
}



.filters {
  background-color: #f0f2f5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.filters h4 {
  margin-bottom: 10px;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-subsection,
.filter-subsection1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-subsection h4,
.filter-subsection1 h4 {
  margin-bottom: 5px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
}

.tag,
.active-tag {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.active-tag {
  background-color: #7cba01; 
}

.tag {
  background-color: #c5e09b; 
}


.filter-subsection1 button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.filter-subsection1 button.active {
  background-color: #7cba01 !important; 
}

.filter-subsection1 button {
  background-color: #c5e09b !important; 
}

Input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

Input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 700px){
  .main {
    flex-direction: column;
    justify-content: center
    
  }
  
  .filters {
    
    width: fit-content;
  }
  
  .cards {
    flex-direction: column;
    align-self:center;
  }
}

